In [2]:
import pandas as pd
import numpy as np
np.set_printoptions(precision  = 4)

In [3]:
pwd

'C:\\Users\\Sanjeev\\ineuron\\Class lectures\\Pandas'

In [5]:
dr = pd.read_csv('..\..\..\Downloads\concrete.csv', index_col = ['Cement', 'FlyAsh'])

In [6]:
dr.head()

               BlastFurnaceSlag  Water  Superplasticizer  CoarseAggregate  \
Cement FlyAsh
540.0  0.0                  0.0  162.0               2.5           1040.0
       0.0                  0.0  162.0               2.5           1055.0
332.5  0.0                142.5  228.0               0.0            932.0
       0.0                142.5  228.0               0.0            932.0
198.6  0.0                132.4  192.0               0.0            978.4

               FineAggregate  Age  CompressiveStrength
Cement FlyAsh
540.0  0.0             676.0   28                79.99
       0.0             676.0   28                61.89
332.5  0.0             594.0  270                40.27
       0.0             594.0  365                41.05
198.6  0.0             825.5  360                44.30

In [9]:
dk = pd.read_csv('../../../Downloads/concrete.csv')

In [10]:
dk.head()

,Cement,BlastFurnaceSlag,FlyAsh,Water,Superplasticizer,CoarseAggregate,FineAggregate,Age,CompressiveStrength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [16]:
dk[['Cement', 'BlastFurnaceSlag']]

      Cement  BlastFurnaceSlag
0      540.0               0.0
1      540.0               0.0
2      332.5             142.5
3      332.5             142.5
4      198.6             132.4
5      266.0             114.0
6      380.0              95.0
7      380.0              95.0
8      266.0             114.0
9      475.0               0.0
10     198.6             132.4
11     198.6             132.4
12     427.5              47.5
13     190.0             190.0
14     304.0              76.0
15     380.0               0.0
16     139.6             209.4
17     342.0              38.0
18     380.0              95.0
19     475.0               0.0
20     427.5              47.5
21     139.6             209.4
22     139.6             209.4
23     139.6             209.4
24     380.0               0.0
25     380.0               0.0
26     380.0              95.0
27     342.0              38.0
28     427.5              47.5
29     475.0               0.0
...      ...               ...
1000   141.9             166.6
1001   297.8             137.2
1002   321.3             164.2
1003   366.0             187.0
1004   279.8             128.9
1005   252.1              97.1
1006   164.6               0.0
1007   155.6             243.5
1008   160.2             188.0
1009   298.1               0.0
1010   317.9               0.0
1011   287.3             120.5
1012   325.6             166.4
1013   355.9               0.0
1014   132.0             206.5
1015   322.5             148.6
1016   164.2               0.0
1017   313.8               0.0
1018   321.4               0.0
1019   139.7             163.9
1020   288.4             121.0
1021   298.2               0.0
1022   264.5             111.0
1023   159.8             250.0
1024   166.0             259.7
1025   276.4             116.0
1026   322.2               0.0
1027   148.5             139.4
1028   159.1             186.7
1029   260.9             100.5

[1030 rows x 2 columns]

In [19]:
# if you want to pull only one row or only one column that is called series.
type(dk[['Cement', 'BlastFurnaceSlag']])

pandas.core.frame.DataFrame

In [21]:
# if i wanted to know what are all the columns available
dk.columns

Index(['Cement', 'BlastFurnaceSlag', 'FlyAsh', 'Water', 'Superplasticizer',
       'CoarseAggregate', 'FineAggregate', 'Age', 'CompressiveStrength'],
      dtype='object')

In [26]:
dk.columns

Index(['Cement', 'BlastFurnaceSlag', 'FlyAsh', 'Water', 'Superplasticizer',
       'CoarseAggregate', 'FineAggregate', 'Age', 'CompressiveStrength'],
      dtype='object')

In [1]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/Opensourcefordatascience/Data-sets/master/admission.csv')
data.head()

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0

In [2]:
data.head(10)

   admit    gre   gpa  rank
0    0.0  380.0  3.61   3.0
1    1.0  660.0  3.67   3.0
2    1.0  800.0  4.00   1.0
3    1.0  640.0  3.19   4.0
4    0.0  520.0  2.93   4.0
5    1.0  760.0  3.00   2.0
6    1.0  560.0  2.98   1.0
7    0.0  400.0  3.08   2.0
8    1.0  540.0  3.39   3.0
9    0.0  700.0  3.92   2.0

In [3]:
data[['admit', 'gre']]

     admit    gre
0      0.0  380.0
1      1.0  660.0
2      1.0  800.0
3      1.0  640.0
4      0.0  520.0
5      1.0  760.0
6      1.0  560.0
7      0.0  400.0
8      1.0  540.0
9      0.0  700.0
10     0.0  800.0
11     0.0  440.0
12     1.0  760.0
13     0.0  700.0
14     1.0  700.0
15     0.0  480.0
16     0.0  780.0
17     0.0  360.0
18     0.0  800.0
19     1.0  540.0
20     0.0  500.0
21     1.0  660.0
22     0.0  600.0
23     0.0  680.0
24     1.0  760.0
25     1.0  800.0
26     1.0  620.0
27     1.0  520.0
28     1.0  780.0
29     0.0  520.0
..     ...    ...
370    1.0  540.0
371    1.0  680.0
372    1.0  680.0
373    1.0  620.0
374    0.0  560.0
375    0.0  560.0
376    0.0  620.0
377    1.0  800.0
378    0.0  640.0
379    0.0  540.0
380    0.0  700.0
381    1.0  540.0
382    0.0  540.0
383    0.0  660.0
384    1.0  480.0
385    0.0  420.0
386    1.0  740.0
387    0.0  580.0
388    0.0  640.0
389    0.0  640.0
390    1.0  800.0
391    1.0  660.0
392    1.0  600.0
393    1.0  620.0
394    1.0  460.0
395    0.0  620.0
396    0.0  560.0
397    0.0  460.0
398    0.0  700.0
399    0.0  600.0

[400 rows x 2 columns]

In [4]:
data.dtypes

admit    float64
gre      float64
gpa      float64
rank     float64
dtype: object

In [5]:
data.tail(2)

     admit    gre   gpa  rank
398    0.0  700.0  3.65   2.0
399    0.0  600.0  3.89   3.0

In [6]:
data['sanjeev'] = None

In [7]:
data.head(5)

   admit    gre   gpa  rank sanjeev
0    0.0  380.0  3.61   3.0    None
1    1.0  660.0  3.67   3.0    None
2    1.0  800.0  4.00   1.0    None
3    1.0  640.0  3.19   4.0    None
4    0.0  520.0  2.93   4.0    None

In [8]:
data

     admit    gre   gpa  rank sanjeev
0      0.0  380.0  3.61   3.0    None
1      1.0  660.0  3.67   3.0    None
2      1.0  800.0  4.00   1.0    None
3      1.0  640.0  3.19   4.0    None
4      0.0  520.0  2.93   4.0    None
5      1.0  760.0  3.00   2.0    None
6      1.0  560.0  2.98   1.0    None
7      0.0  400.0  3.08   2.0    None
8      1.0  540.0  3.39   3.0    None
9      0.0  700.0  3.92   2.0    None
10     0.0  800.0  4.00   4.0    None
11     0.0  440.0  3.22   1.0    None
12     1.0  760.0  4.00   1.0    None
13     0.0  700.0  3.08   2.0    None
14     1.0  700.0  4.00   1.0    None
15     0.0  480.0  3.44   3.0    None
16     0.0  780.0  3.87   4.0    None
17     0.0  360.0  2.56   3.0    None
18     0.0  800.0  3.75   2.0    None
19     1.0  540.0  3.81   1.0    None
20     0.0  500.0  3.17   3.0    None
21     1.0  660.0  3.63   2.0    None
22     0.0  600.0  2.82   4.0    None
23     0.0  680.0  3.19   4.0    None
24     1.0  760.0  3.35   2.0    None
25     1.0  800.0  3.66   1.0    None
26     1.0  620.0  3.61   1.0    None
27     1.0  520.0  3.74   4.0    None
28     1.0  780.0  3.22   2.0    None
29     0.0  520.0  3.29   1.0    None
..     ...    ...   ...   ...     ...
370    1.0  540.0  3.77   2.0    None
371    1.0  680.0  3.76   3.0    None
372    1.0  680.0  2.42   1.0    None
373    1.0  620.0  3.37   1.0    None
374    0.0  560.0  3.78   2.0    None
375    0.0  560.0  3.49   4.0    None
376    0.0  620.0  3.63   2.0    None
377    1.0  800.0  4.00   2.0    None
378    0.0  640.0  3.12   3.0    None
379    0.0  540.0  2.70   2.0    None
380    0.0  700.0  3.65   2.0    None
381    1.0  540.0  3.49   2.0    None
382    0.0  540.0  3.51   2.0    None
383    0.0  660.0  4.00   1.0    None
384    1.0  480.0  2.62   2.0    None
385    0.0  420.0  3.02   1.0    None
386    1.0  740.0  3.86   2.0    None
387    0.0  580.0  3.36   2.0    None
388    0.0  640.0  3.17   2.0    None
389    0.0  640.0  3.51   2.0    None
390    1.0  800.0  3.05   2.0    None
391    1.0  660.0  3.88   2.0    None
392    1.0  600.0  3.38   3.0    None
393    1.0  620.0  3.75   2.0    None
394    1.0  460.0  3.99   3.0    None
395    0.0  620.0  4.00   2.0    None
396    0.0  560.0  3.04   3.0    None
397    0.0  460.0  2.63   2.0    None
398    0.0  700.0  3.65   2.0    None
399    0.0  600.0  3.89   3.0    None

[400 rows x 5 columns]

In [10]:
p = data.rename(columns = {'admin':'adm'})

In [13]:
data[adm]

NameError: name 'adm' is not defined