In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame(np.random.randn(10,5))

In [10]:
df

          0         1         2         3         4
0 -0.732119 -0.591596  0.777368  0.137569 -0.466294
1  0.832169 -0.685946  1.270411  0.074670 -0.847512
2  0.301026  0.733628 -1.528217  0.840803 -0.456433
3  0.678529  2.291292  1.458227  0.900887  0.133892
4 -0.970637 -0.505279 -0.257438 -0.573720 -1.873656
5  1.249072  1.419144 -0.682121 -0.041169  1.269944
6  0.418319 -0.017937 -0.212122  0.201428 -1.395123
7  0.192505  1.106693  0.547757  0.392549  0.790555
8  0.078057  1.623772  1.943588  0.628932 -0.669768
9  1.523984 -0.434175 -1.358826 -1.022067  1.529230

### Hi, this is the new game.

### What different different operation we can do on it. let's explore it. in another way.

how to changet the index value of b and c in the same place.
I have taken a date in the index in the first place.

#### Soham has already pinged me.

In [12]:
df

          0         1         2         3         4
0 -0.732119 -0.591596  0.777368  0.137569 -0.466294
1  0.832169 -0.685946  1.270411  0.074670 -0.847512
2  0.301026  0.733628 -1.528217  0.840803 -0.456433
3  0.678529  2.291292  1.458227  0.900887  0.133892
4 -0.970637 -0.505279 -0.257438 -0.573720 -1.873656
5  1.249072  1.419144 -0.682121 -0.041169  1.269944
6  0.418319 -0.017937 -0.212122  0.201428 -1.395123
7  0.192505  1.106693  0.547757  0.392549  0.790555
8  0.078057  1.623772  1.943588  0.628932 -0.669768
9  1.523984 -0.434175 -1.358826 -1.022067  1.529230